<main>
  <div class="paginacao-topo">
    <span>
      <span class="numero-qtd-clientes">{{ pageSize * totalPages }}</span> clientes encontrados:
    </span>

    <div>
      <label for="qtd-por-pagina">Clientes por página: </label>
      <select name="qtd-por-pagina" id="qtd-por-pagina">
        <option value="16">16</option>
      </select>
    </div>
  </div>

  <div class="clientes">
    @for (client of clients; track $index) {
    <app-card-client
      [name]="client.name"
      [salary]="client.salary"
      [companyValue]="client.companyValue"
      [selected]="client.selected"
      (edit)="onClickEdit(client)"
      (delete)="onClickDelete(client)"
      (select)="editSelectedClient(client.id, true)"
      (unselect)="editSelectedClient(client.id, false)"
    ></app-card-client>
    }
  </div>

  <button class="primary-button-page" (click)="onClickAddClient()">
    Criar cliente
  </button>

  <app-pagination [totalPages]="totalPages" (change)="onChangePage($event)"></app-pagination>
</main>

<app-modal-form-client
  [openModal]="openModalFormClient"
  [clientToEdit]="clientToEdit"
  (add)="onAddClient($event)"
  (edit)="onEditClient($event)"
></app-modal-form-client>

<app-modal-delete-client
  [client]="clientToDelete"
  (confirm)="onConfirmDelete($event)"
></app-modal-delete-client>
