<main>
  <div class="paginacao-topo">
    <span>
      <span class="numero-qtd-clientes">16</span> clientes encontrados:
    </span>

    <div>
      <label for="qtd-por-pagina"> Clientes por página: </label>
      <select name="qtd-por-pagina" id="qtd-por-pagina">
        <option value="16">16</option>
      </select>
    </div>
  </div>

  <div class="clientes">
    @for (client of clients; track $index) {
    <app-card-client
      [name]="client.name"
      [salary]="client.salary"
      [companyValue]="client.companyValue"
      (clickEdit)="onClickEdit(client)"
    ></app-card-client>
    }
  </div>

  <button class="botao-criar-cliente" (click)="onClickAddClient()">
    Criar cliente
  </button>
</main>

<app-modal-form-cliente
  [openModal]="openModalFormClient"
  [clientToEdit]="clientToEdit"
  (add)="onAddClient($event)"
  (edit)="onEditClient($event)"
></app-modal-form-cliente>
