@use "../../../styles/variables.scss" as variaveis;

:host {
  display: flex;
  justify-content: center;
}

main {
  width: 100vw;
  max-width: 1200px;

  .paginacao-topo {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1rem;

    font-size: 18px;

    .numero-qtd-clientes {
      font-weight: 700;
    }
  }

  .clientes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;

    margin-bottom: 1.5rem;
  }

  .botao-criar-cliente {
    width: 100%;
    height: 40px;

    border-radius: 4px;
    border: 2px solid variaveis.$laranja;
    
    color: variaveis.$laranja;
    font-size: 14px;
    font-weight: 700;
  }

  app-pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
