<span class="nome-cliente">{{ name }}</span>
<span>Salário: {{ salary }}</span>
<span>Empresa: {{ companyValue }}</span>

<div class="acoes">
  @if (selected) {
    <button (click)="unselectEvent.emit()">
      <img src="/imgs/remover.png" alt="Desselecionar Cliente" />
    </button>
  } @else {
    <button (click)="selectEvent.emit()">
      <img src="/imgs/adicionar.png" alt="Selecionar Cliente" />
    </button>
  }
  <button (click)="editEvent.emit()">
    <img src="/imgs/editar.png" alt="Editar Cliente" />
  </button>
  <button (click)="deleteEvent.emit()">
    <img src="/imgs/deletar.png" alt="Deletar Cliente" />
  </button>
</div>
