@use "../../../styles/variables.scss" as variaveis;

:host {
  display: flex;
  justify-content: center;
}

main {
  width: 100vw;
  max-width: 1200px;

  .title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .clients {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;

    margin-bottom: 1.5rem;
  }

  app-pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
